<p id="notice"><%= notice %></p>

<h1>Service Addendums</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_addendums.each do |service_addendum| %>
      <tr>
        <td><%= link_to 'Show', service_addendum %></td>
        <td><%= link_to 'Edit', edit_service_addendum_path(service_addendum) %></td>
        <td><%= link_to 'Destroy', service_addendum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Addendum', new_service_addendum_path %>
