<p id="notice"><%= notice %></p>

<%= @trip.inspect %>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <% if @trip.shape.present? -%>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: {lat: 0, lng: -180},
        mapTypeId: 'terrain'
      });

      var tripCoordinates = [
<% @trip.shape.points.order(:sequence).each do |point| -%>
        {lat: <%= point.lattitude %>, lng: <%= point.longitude %>},
<% end -%>
      ];
      var tripPath = new google.maps.Polyline({
        path: tripCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 4
      });
      tripPath.setMap(map);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
  <% end -%>
</body>
