<% content_for :nav_color, "##{@route.color}" %>
<% content_for :nav_title, @route.name %>

<ul class="tabs route-utilities" style="background-color: #<%= @route.color %>">
  <li class="<%= direction_button_style('inbound') %>"><%= link_to 'Inbound', route_direction_path(@route, 'inbound') %></li>
  <li class="<%= direction_button_style('outbound') %>"><%= link_to 'Outbound', route_direction_path(@route, 'outbound') %></li>
</ul>

<div id="map"></div>

<script>
  initMarkerStore();
  initMap();

  populateMap(
    "#<%= @route.color %>",
    <%= raw(@stops.pluck(:name, :lattitude, :longitude).map { |stop| { name: stop[0], lattitude: stop[1], longitude: stop[2] } }.to_json) %>,
    <%= raw(@shapes.map { |shape| shape.points.order(:sequence).pluck(:lattitude, :longitude).map { |point| { lat: point[0], lng: point[1] } } }.to_json) %>,
    <%= raw(@vehicles.to_json) %>
  );

  interval = setInterval(function() { syncVehicles("<%= route_direction_vehicles_path(@route, @direction) %>") }, 10*1000);
</script>
