<p id="notice"><%= notice %></p>

<center><h1><%= @route.name %></h1></center>
<center>Managed by <%= link_to @route.agency.name, @route.agency.url %> (<%= @route.agency.phone %>)</center>

<p>
<% @route.trips.each do |trip| -%>
	<%= trip.external_id %>: <%= trip.short_name %><br />
<% end -%>
</p>


<%= @route.inspect %>