<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<p id="notice"><%= notice %></p>

<center><h1><%= @route.name %></h1></center>
<center>Managed by <%= link_to @route.agency.name, @route.agency.url %> (<%= link_to(@route.agency.phone, "tel:#{@route.agency.phone}") %>)</center>

<div class="btn-group">
  <%= link_to 'Inbound', route_direction_path(@route, 'inbound'), class: direction_button_style('inbound') %>
  <%= link_to 'Outbound', route_direction_path(@route, 'outbound'), class: direction_button_style('outbound') %>
</div>

<% if @shapes.any? -%>
<div id="map"></div>
<script>
var vehicleStore = [];
var map;

function initMap() {
  var bounds = new google.maps.LatLngBounds();

  map = new google.maps.Map(
    document.getElementById('map'),
    { mapTypeId: google.maps.MapTypeId.ROADMAP }
  );

  <% @shapes.each do |shape| -%>
  var tripCoordinates = [
  <% shape.points.order(:sequence).each do |point| -%>
    {lat: <%= point.lattitude %>, lng: <%= point.longitude %>},
  <% end -%>
  ];
  var tripPath = new google.maps.Polyline({
    path: tripCoordinates,
    geodesic: true,
    strokeColor: "#<%= @route.color %>",
    strokeOpacity: 1.0,
    strokeWeight: 4,
    map: map
  });
  <% end -%>

  <% @stops.each do |stop| -%>
  var marker = new google.maps.Marker({
    position: {lat: <%= stop.lattitude %>, lng: <%= stop.longitude %>},
    title: '<%= stop.name %>',
    icon: {
      path: google.maps.SymbolPath.CIRCLE,
      scale: 4,
      strokeWeight: 2,
      fillColor: '#FFFFFF',
      fillOpacity: 1
    },
    map: map
  });

  bounds.extend(marker.position);
  <% end -%>

  <% @vehicles.each do |vehicle|  -%>
  var marker = new google.maps.Marker({
    position: {lat: <%= vehicle["attributes"]["latitude"] %>, lng: <%= vehicle["attributes"]["longitude"] %>},
    icon: {
      path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      scale: 4,
      strokeWeight: 2,
      fillColor: '#FFFFFF',
      fillOpacity: 0.75,
      rotation: <%= vehicle["attributes"]["bearing"] %>
    },
    map: map
  });

  vehicleStore['<%= vehicle['id'] %>'] = marker;
  <% end -%>

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var marker = new google.maps.Marker({
        position: {lat: position.coords.latitude, lng: position.coords.longitude},
        title: 'You are here',
        icon: {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 4,
          strokeWeight: 2,
          fillColor: 'blue',
          fillOpacity: 1
        },
        map: map
      });

      bounds.extend(marker.position);
    });
  }

  map.fitBounds(bounds);
}

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
<% end -%>
