<p id="notice"><%= notice %></p>

<center><h1><%= @route.name %></h1></center>

<div class="btn-group">
  <%= link_to 'Inbound', route_direction_path(@route, 'inbound'), class: direction_button_style('inbound') %>
  <%= link_to 'Outbound', route_direction_path(@route, 'outbound'), class: direction_button_style('outbound') %>
</div>

<div id="map"></div>

<% if @shapes.any? -%>
<script>
  var mapSpec = {
    color: "#<%= @route.color %>",
    stops: <%= raw(@stops.pluck(:name, :lattitude, :longitude).map { |stop| { name: stop[0], lattitude: stop[1], longitude: stop[2] } }.to_json) %>,
    shapes: <%= raw(@shapes.map { |shape| shape.points.order(:sequence).pluck(:lattitude, :longitude).map { |point| { lat: point[0], lng: point[1] } } }.to_json) %>,
    vehicles: <%= raw(@vehicles.to_json) %>
  };

  var interval = setInterval(function() { syncVehicles("<%= route_direction_vehicles_path(@route, @direction) %>") }, 10*1000);

  $(document).on('turbolinks:before-cache turbolinks:before-render', function() {
    clearTimeout(interval)
  });
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
<% end -%>
