<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <title><%= content_for?(:title) ? yield(:title) : "MBTA Map" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>" data-turbolinks-eval="false"></script>
    <% if Rails.env.production? -%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131050763-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-131050763-1');
    </script>
    <% end -%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>

    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <ul class="vertical menu accordion-menu main-nav" data-accordion-menu>
        <li><%= link_to "MBTA Map", root_url, class: "home-link" %></li>
        <li style="background: #DA291C;"><%= link_to "Red Line", route_direction_path('red-line', 'inbound'), style: "color: #FFFFFF;" %></li>
        <li style="background: #ED8B00;"><%= link_to "Orange Line", route_direction_path('orange-line', 'inbound'), style: "color: #FFFFFF;" %></li>
        <li style="background: #003DA5;"><%= link_to "Blue Line", route_direction_path('blue-line', 'inbound'), style: "color: #FFFFFF;" %></li>
        <li style="background: #00843D;">
          <a href="#" style="color: #FFFFFF">Green Line</a>
          <ul class="vertical menu secondary">
            <%= link_to "Green Line B", route_direction_path('b-green-line-b', 'inbound'), style: "background: #00843D; color: #FFFFFF" %>
            <%= link_to "Green Line C", route_direction_path('c-green-line-c', 'inbound'), style: "background: #00843D; color: #FFFFFF" %>
            <%= link_to "Green Line D", route_direction_path('d-green-line-d', 'inbound'), style: "background: #00843D; color: #FFFFFF" %>
            <%= link_to "Green Line E", route_direction_path('e-green-line-e', 'inbound'), style: "background: #00843D; color: #FFFFFF" %>
          </ul>
        </li>
        <li style="background: #7C878E;">
          <a href="#" style="color: #FFFFFF">Buses</a>
          <ul class="vertical menu secondary" style="overflow: scroll; height: 500px !important">
            <% Route.where(route_type: 3).each do |bus| -%>
              <%= link_to bus.name, route_direction_path(bus.slug, 'inbound'), style: "background: #7C878E; color: #FFFFFF" %>
            <% end -%>
          </ul>
        </li>
      </ul>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="mobile-nav-bar title-bar" style="background-color: <%= content_for?(:nav_color) ? yield(:nav_color) : "black" %>">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
        </div>
        <div class="title-bar-center">
          <span class="title-bar-title"><%= content_for?(:nav_title) ? yield(:nav_title) : "MBTA Map" %></span>
        </div>
        <div class="title-bar-right">
          <span class="title-bar-logo"></span>
        </div>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
